<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.templates.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.templates.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_status" jdbcType="BIT" property="roleStatus" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>


  <select id="getRolesByUserId" parameterType="long" resultMap="BaseResultMap">
    SELECT r.* from sys_role r, user_role ur where ur.role_id = r.role_id and ur.user_id = #{userId}
  </select>



</mapper>